<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            applicationId="de.jugbremen.app.application"
            id="mail.app"
            path="/mail">
      </entrypoint>
   </extension>

</plugin>
